
body{
         display: flex;
         overflow-x: hidden;
       }
       
       
       
       .container {
                background: rgb(255, 255, 255);
                width: 100%;
                max-width: 350px;
                margin: 250px 450px;
                padding: 30px;
                border-radius: 0px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                text-align: center;
              }
              
              
              
              .header {
                margin-bottom: 30px;
              }
              
              .header .text {
                font-size: 24px;
                font-weight: bold;
                color: #1f018b;
              }
              
              .header .underline {
                width: 260px;
                height: 3px;
                background-color: rgb(215, 241, 255);
                margin: 10px auto;
                border-radius: 3px;
              }
       
       
              .image img {
               width: 340px; 
               height: 405px; 
               object-fit: cover; 
               position: absolute; 
               top: 250px; 
               left: 860px; 
             }
             
       
              
              
             
              .inputs {
                margin-top: 20px;
              }
              
              
              .input {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid #ffffff;
                border-radius: 5px;
                padding: 7px;
                background-color: #f0f6fc;
              }
              
              .input img {
                width: 20px;
                margin-right: 10px;
              }
              
              .input input {
                flex-grow: 1;
                border: none;
                outline: none;
                font-size: 12px;
                height: 5px;
                padding: 8px;
                background-color: transparent;
                
              }
              
              .input input::placeholder {
                color: #acacac;
              }
              
       
              .input input:focus {
                border: none;
                outline: none;
              }
              
              
              .input:hover {
                border-color: #007BFF;
              }
              
              .input:focus-within {
                border-color: #007BFF;
              }
       
       
              button {
                padding: 10px 20px;
                font-size: 13px;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                margin: 5px;
               
              }
              
              button.signup {
                background-color: rgba(0, 157, 223, 1);
                color: rgb(254, 254, 254);
              }
              
             
              
              button:hover {
                opacity: 0.9;
              }
       
              .forgot_password{
               color: #007BFF;
               font-size: 12px;
               cursor: pointer;
              }
       
              .forgot_password span{
               color: #000000;
               font-size: 12px;
              }
              
              


             
              
              .cinec {
                color: #1d3557; 
              }
              
              .sssq {
                color: #3ea5d8; 
                margin-top: 0; 
                
              }
              


              .heading {
                font-size: 2rem;
                font-weight: bold;
                display: flex;
                flex-direction: row; 
                margin-left: 650px;
                position: absolute;
               top: 140px;
                left: 0;
                width: 100%;
                font-family: 'Roboto', sans-serif;
                color: #7fd8fe;
                font-size: 55px;
                text-align: center;
                padding: 10px 0;
                
                
              }

              .heading2{
                font-size: 12px;
                color: #011976;
              }
              

              .heading div {
                font-weight: bold;
                font-size: 1.5rem;
              }
              
              
              