/* Navbar Styles */
.navbar {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 1000;
        
         padding: 5px 20px;
         background-color: rgb(216, 232, 255);
         color: rgb(23, 53, 99);
         font-family: Arial, sans-serif;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       }
       
       .navbar-row {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 5px 20px;
         background-color: rgb(216, 232, 255);
         color: rgb(23, 53, 99);
       }
       
       .top-row {
         border-bottom: 1px solid #ffffff;
       }
       
       
       
       .navbar-links a,
       .navbar-menu a {
         color: rgb(23, 53, 99);
         text-decoration: none;
         margin: 0 10px;
         padding: 5px 10px;
         transition: background-color 0.3s, color 0.3s;
       }
       
       .navbar-links a:hover,
       .navbar-menu a:hover {
         background-color: #ffcc00;
         color: #333;
         border-radius: 5px;
       }
       
       .navbar-actions {
         display: flex;
         align-items: center;
       }
       
       .navbar-search {
         padding: 5px 10px;
         border: none;
         border-radius: 5px;
         margin-right: 10px;
       }
       
       .navbar-btn {
         padding: 5px 15px;
         border: none;
         background-color: #ffcc00;
         color: #333;
         border-radius: 5px;
         cursor: pointer;
         transition: background-color 0.3s;
       }
       
       .navbar-btn:hover {
         background-color: #ffc107;
       }
       
       .bottom-row {
         justify-content: center;
         background-color: rgb(216, 232, 255);
       }
       
       .bottom-row a {
         font-size: 0.9rem;
       }
       

       .navbar-logo img {
         height: 30px;
         width: auto; 
         margin-right: 0px; 
         vertical-align: middle; 
         padding-top: 3px;
       }